# 📁 Fichiers inutiles à GitHub
node_modules/
.expo/
.expo-shared/
npm-debug.log
*.tar.gz

# 🧪 Build / output files
dist/
build/
*.apk
*.aab

# 💣 Évite les fichiers lourds
*.zip
*.mp4
*.mp3
*.png
*.jpg
*.jpeg
*.psd
*.mov

# ⚙️ Environnements
.env
